{%- assign id = context.params.title -%}

<h1>COVID-19 SCREENING QUESTIONS</h1>
<form method="POST"
    action="/user/submit/{{ context.params.slug3 }}"
    x-show="open === true"
    class="w-full flex mt-4">
<div>

        <label for="q1">New or worsening cough:   </label>
        <p>
        <input type="radio" name="q1"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q1" checked> No </input>
        </p>

        <label for="q2">Shortness of breath:   </label>
        <p>
        <input type="radio" name="q2"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q2" checked> No </input>
        </p>

        <label for="q3">Sore throat:   </label>
        <p>
        <input type="radio" name="q3"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q3" checked> No </input>
        </p>

        <label for="q4">Runny nose, sneezing or nasal congestion (in absence of underlying reasons for symptoms such as seasonal allergies and post nasal drip):   </label>
        <p>
        <input type="radio" name="q4"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q4" checked> No </input>
        </p>

        <label for="q5">Hoarse voice:   </label>
        <p>
        <input type="radio" name="q5"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q5" checked> No </input>
        </p>

        <label for="q6">Difficulty swallowing:   </label>
        <p>
        <input type="radio" name="q6"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q6" checked> No </input>
        </p>

        <label for="q7">New smell or taste disorder(s):   </label>
        <p>
        <input type="radio" name="q7"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q7" checked> No </input>
        </p>

        <label for="q8">Nausea/vomiting, diarrhea, abdominal pain:   </label>
        <p>
        <input type="radio" name="q8"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q8" checked> No </input>
        </p>

        <label for="q9">Unexplained fatigue/malaise:   </label>
        <p>
        <input type="radio" name="q9"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q9" checked> No </input>
        </p>

        <label for="q10">Chills:   </label>
        <p>
        <input type="radio" name="q10"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q10" checked> No </input>
        </p>

        <label for="q11">Headache:   </label>
        <p>
        <input type="radio" name="q11"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q11" checked> No </input>
        </p>

        <label for="q12">Have you travelled outside of Canada or had close contact with anyone that has travelled outside of Canada in the past 14 days?:   </label>
        <p>
        <input type="radio" name="q12"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q12" checked> No </input>
        </p>

        <label for="q13">Do you have a fever?:   </label>
        <p>
        <input type="radio" name="q13"> Yes </input>
        </p>
        <p>
        <input type="radio" name="q13" checked> No </input>
        </p>

        <label for="q14">Have you had close contact with anyone with respiratory illness or a confirmed or probable case of COVID-19?:   </label>
        <p>
        <input type="radio" name="q14" > Yes </input>
        </p>
        <p>
        <input type="radio" name="q14" checked> No </input>
        </p>
        <button type="submit>Submit</button>
        <button class="button-primary ml-2" onclick = "">Submit</button>

    </div>
</form>

